html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 7px;
  text-align:center;
  font-size:1.5em;
  color:white;
  background-color:DodgerBlue;
}

footer a {
   text-decoration:none;
   color:white;
}

.navbar{
  list-style-type:none;
  padding:5px;
  
  
}

.navbar li{
  display:inline-block;
  font-variant:small-caps;
}

nav{
  background-color: #00AEEF;
  
   width:100%;
  text-align:center;
  font-size:17px;
  padding-bottom: 10px;
  
}

.navbar a{
  text-decoration:none;
  color:white;
  padding:30px;
  margin-bottom:100px;
}

.navbar a:hover{
  color:gold;
  
}

.mission {
  display:inline;
  padding:2%;
}


.logo {
 position: relative;
 top: 0%;
 margin-left:-15%;
 width:150;
 height:150;
}

.title {
  position: absolute;
  top: 50px;
  left: 575px;
}

.p {
    margin: 0;
    padding: 0;
    font-size:20px;
}

.main {
    margin-bottom:1px;
    padding-left: 20px;
    padding-right:700px;
    text-align:left;
}

.header{
  margin-top: 10px;
}

.contenttitle {
  margin-bottom: 5px;
  padding-top: 20px;
  padding-left: 20px;
  text-align:left;
  font-size: 25px;
  font-weight: 500;
}

.contl2 {
  margin-top: 1px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-left: 20px;
  text-align:left;
  font-size: 25px;
  font-weight: 500;
}

a {
  font-size:30;
  position:relative;
  float:top;
}

.banner{
  width:100%;
}

